<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>University of Oxford</li>
    <li>Department of Earth Scienes</li>
    <li>South Parks Road, Oxford, UK</li>
    <!-- <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 234 567 890</span></li> -->
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:joseph.asplet@earth.ox.ac.uk">joseph.asplet@earth.ox.ac.uk</a></li>
    <li><span class="li-icon">{% include svg/orcid.svg %}</span><a href="https://orcid.org/my-orcid?orcid=0000-0002-0375-011X">{{site.academic.orcid}}</a></li>
    <!-- <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://cvless.netlify.app">https://cvless.netlify.app</a></li> -->
  </ul>
</div>
